@import "tailwindcss";

.t-todolist-container{
    flex-direction:column;
    min-width:20rem;
    justify-content:flex-start;
    justify-items:stretch;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: 1rem;
}
.t-todolist-container h1{
    font-weight:normal;
    font-size:1.6rem;
}
.t-todolist-name-bar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0.6rem;
    padding-left:1.2rem;
    padding-right:1.2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /*align-items:center;*/
}
.t-todolist-container-contents{
    display:flex;
    flex-direction:row;
}